services:
  - type: web
    name: sacredflow-api
    env: docker
    plan: free
    autoDeploy: true
    region: oregon
    envVars:
      - key: ENV
        value: production
      - key: SECRET_KEY
        sync: false
      - key: DATABASE_URL
        sync: false
      - key: SQUARE_SECRET_KEY
        sync: false
      - key: SLACK_WEBHOOK_URL
        sync: false
      - key: GOOGLE_API_KEY
        sync: false
    dockerfilePath: ./Dockerfile
    healthCheckPath: /health

